/*
Color palette: https://coolors.co/1c0b19-140d4f-4ea699-2dd881-6fedb7
*/

* {
    font-family: 'Oswald', Helvetica, sans-serif;
}

.background {
    background-image: url('../../images/sydney.png');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 350px 150px;
    width: 100%;
    position: fixed;
    top: 70px;
    z-index: 0;
}

header {
    background-color: #140D4F;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}

header ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

header li {
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 150px;
}

h2 {
    color: #4EA699;
    font-size: 30px;
    left: 100px;
}

h3 {
    color: #140D4F;
    font-size: 24px;
    left: 100px;
}

p,
li {
    font-size: 18px;
    left: 100px;
}

a {
    text-decoration: none;
}

li a {
    color: #FFF;
}

a:hover {
    color: #6FEDB7;
}


#menu {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 15px;
    left: 20px;
}

#logo {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
}


.name {
    box-sizing: border-box;
    text-align: center;
    padding: 350px 150px;
    width: 100%;
    position: relative;
    top: 70px;
    z-index: 2;
}

.name h1 {
    color: #FFF;
    font-size: 72px;
    text-align: center;
}

.name h3 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}


.aboutme {
    background-color: #FFF;
    box-sizing: border-box;
    padding: 150px;
    text-align: left;
    width: 100%;
    position: relative;
    top: 0px;
    left: 4px;
    z-index: 4;
}

.aboutme img {
    width: 150px;
    height: 150px;
    position: relative;
    top: 10px;
    left: 50px;
}

#content {
    display: inline-block;
}


.careerprofile {
    background-color: #4EA699;
    box-sizing: border-box;
    position: relative;
    top: -30px;
    left: 4px;
    margin: 30px auto;
    z-index: 4;
}

.careerprofile h2 {
    color: #FFF;
    padding: 150px 50px 0px;
    text-align: center;
}

.careerprofile ol {
    padding: 10px 50px 150px;
    text-align: center;
}

.careerprofile li {
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    width: 200px;
}

.unicodeid ol {
    padding: 50px 50px 0px;
}

#bulb {
    width: 45px;
    height: 50px;
}

#chat {
    width: 50px;
    height: 40px;
}

#tick {
    width: 45px;
    height: 45px;
}


.education {
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    top: -60px;
    left: 4px;
    margin: 30px auto;
    z-index: 4;
    width: 100%;
    height: 550px;
    overflow: scroll;
}

.education #title {
    padding: 120px 50px 0px;
    text-align: center;
}

.softwareengineering {
    padding: 50px 150px 0px;
}

.softwareengineering #content {
    padding: 50px 500px 0px 0px;
}

.softwareengineering img {
    width: 300px;
    height: 200px;
    position: relative;
}

.commerce {
    padding: 50px 150px 0px;
}

.highschool {
    padding: 50px 150px 0px;
}


.workexperience {
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    top: -30px;
    left: 4px;
    z-index: 4;
}


.hobbies {
    background-color: #FFF;
    position: relative;
    left: 4px;
    z-index: 4;
}


.religion {
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    top: -30px;
    left: 4px;
    z-index: 4;
}


.extras {
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    top: -30px;
    left: 4px;
    z-index: 4;
}


footer {
    background-color: #140D4F;
    box-sizing: border-box;
    position: relative;
    top: -30px;
    width: 100%;
    padding: 20px 20px;
    left: 0px;
    z-index: 10;
}

footer p {
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

footer a {
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}